<div class="hero-header" #slides>
  <div class="hero-header--title">در محصولات سایت جستوجو کنید..</div>
  <div class="hero-header--search-input">
    <div class="slider-btn" (click)="nextImage()">
      <fa-icon [icon]="arrowRight"></fa-icon>
    </div>
    <input type="text" placeholder="نام محصول خود را وارد کنید..." name="name" id="hero-header-serach-input">
    <div class="slider-btn" (click)="previousImage()">
      <fa-icon [icon]="arrowLeft"></fa-icon>
    </div>
  </div>
  <div class="hero-header--search-button">
    <app-btn classes="btn-gold" text="جستوجو کنید"></app-btn>
  </div>
</div>
