.hero-header {
  background-image: url(https://images.unsplash.com/photo-1542293787938-c9e299b880cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.hero-header--title {
  font-size: 2em;
  margin-bottom: 40px;
  color: white;
}

.hero-header--search-input {
  margin-bottom: 35px;
  width: 50%;
}

.hero-header--search-input input,
.hero-header--search-input input:focus {
  font-size: 1.2em;
  outline: none;
  text-align: center;
  border-radius: 24px;
  width: 100%;
  padding: 10px;
  border: none;
  user-select: none;
}
