* {
  font-family: BYekan, "BYekan", tahoma;
}

body {
  background-color: #f7f7f7;
}

.turquoise-blue {
  color: #12bbc6;
}

.my-5 {
  margin: 5px 0;
}

.mt-20 {
  margin-top: 20px;
}

.w-350 {
  width: 350px;
}
