* {
  font-family: BYekan, "BYekan", tahoma;
}

body {
  background-color: #fff;
}

.turquoise-blue {
  color: #12bbc6;
}

.my-5 {
  margin: 5px 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.px-8 {
  padding: 0px 8px;
}

.mt-20 {
  margin-top: 20px;
}

.w-350 {
  width: 350px;
}


.btn-blue {
  background-color: #0076e4;
  box-shadow: 0 0 5px#3b80c0;
  padding: 5px 10px;
  color: white;
}

.btn-blue:hover {
  background-color: #0084ff;
}

.btn-gold {
  background-color: #ffc80a;
  padding: 10px 30px;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  font-size: large;

  user-select: none;
}


.btn-gold:hover {
  background-color: #e0b934;
}

.btn-small {
  padding: 4px;
  font-size: small;
}

hr {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #cccccc;
}

.d-none {
  display: none;
}

.gray-btn {
  background: linear-gradient(rgb(230, 230, 230), rgb(207, 207, 207));
  padding: 10px 10px;
  border: 1px solid #999;
  border-radius: 7px !important;
  font-size: normal;
  user-select: none;
}

.gray-btn:hover {
  background: #CCC;
}

.gray-btn.active {
  background: #BBB;
  box-shadow: inset 0px 0px 5px #555;
}

.btn-red {
  background-color: red;
  box-shadow: 0 0 5px#d3651b;
  padding: 5px 10px;
  color: white;
}

.btn-red:hover {
  background-color: #ff3c00;
}
