* {
  font-family: BYekan, "BYekan", tahoma;
}

body {
  background-color: #f7f7f7;
}

.turquoise-blue {
  color: #12bbc6;
}

.my-5 {
  margin: 5px 0;
}

.mt-20 {
  margin-top: 20px;
}

.w-350 {
  width: 350px;
}

.btn-blue {
  background-color: #0076e4;
  box-shadow: 0 0 5px#3b80c0;
  padding: 5px 10px;
  color: white;
}

.btn-blue:hover {
  background-color: #0084ff;
}

.btn-gold {
  background-color: #ffc80a;
  padding: 10px 30px;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  font-size: large;

  user-select: none;
}


.btn-gold:hover {
  background-color: #e0b934;
}

.btn-small {
  padding: 4px;
  font-size: small;
}

hr {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #cccccc;
}
