<div class="card">
  <div *ngIf="showSoldNumber" class="card--sold-number">
    <div class="card--sold-number--content">
      12
    </div>
  </div>
  <div class="card--pic"><img src="{{imageAddress}}" title="{{title}}" alt="{{title}}">
  </div>
  <div class="card--product-title"><strong>{{title}}</strong></div>
  <div class="card--product-category"><span>{{category}}</span></div>
  <hr>
  <div class="card--card-bottom-flex">
    <div class="card--card-bottom-flex--price">{{price | toman}}</div>
    <div class="card--card-bottom-flex--action">
      <app-btn (onBtnClick)="emitButtonClick($event)" classes="btn-blue" text="{{btnText}}"></app-btn>
    </div>
  </div>
</div>
