<div class="contact-container">
      <h2 class="turquoise-blue">تماس با ما</h2>
      <div class="contact-container--content">
          <h3 class="mb-0">دفتر مرکزی</h3>
          <p class="mt-0">استان تهران، تهران، دانشگاه امیرکبیر</p>
          <h3 class="mb-0">خدمات پس از فروش</h3>
          <p class="mt-0">لطفاً کالا را برای بازگرداندن و ارسال آن به خدمات پس از فروش دیجی‌کالا از طریق پست، تنها به صندوق پستی 6789-12345 ارسال کنید.</p>
          <h3 class="mb-0"><fa-icon [icon]="phone"></fa-icon> تلفن</h3>
          <p class="mt-0" dir="ltr">021 - 10101010</p>
          <h3 class="mb-0"><fa-icon [icon]="mail"></fa-icon> ایمیل</h3>
          <p class="mt-0" dir="ltr">store@aut.ac.ir</p>
      </div>
</div>
