<div class="products-flex-container">

  <div class="sortbox-flexitem">
    <app-sort-box></app-sort-box>
  </div>

  <div class="main-product-sidebar-container">

    <div class="sidebar-flexitem">
      <app-category-box></app-category-box>
      <app-price-filter-box></app-price-filter-box>
    </div>

    <div class="products-flexitem">
      <app-product-box *ngFor="let prod of products" imageAddress="{{prod.imgAddress}}" title="{{prod.name}}"
                       category="{{prod.category}}" btnText="خرید محصول" price="{{prod.price}}"></app-product-box>
    </div>

  </div>


</div>
