<div class="products-flex-container">

  <div class="sortbox-flexitem">
    <app-sort-box></app-sort-box>
  </div>

  <div class="main-product-sidebar-container">

    <div class="sidebar-flexitem">
      <app-category-box></app-category-box>
      <app-price-filter-box></app-price-filter-box>
    </div>

    <div *ngIf="count == 0" class="products-flexitem" id="product">
      <h2>محصولی یافت نشد ...</h2>
    </div>

    <div *ngIf="count !=0" class="products-flexitem" id="product">
      <app-product-box *ngFor="let prod of products" imageAddress="{{prod.imgAddress}}" title="{{prod.name}}" category="{{prod.category}}" btnText="خرید محصول" price="{{prod.price}}"
        (onBtnClick)="showBuyingModal(prod.id)">
      </app-product-box>

      <action-modal *ngIf="showModal" (closeBtn)="closeModal()" action="buy" [data]="selectedProductId"></action-modal>

      <app-pagination class="pagination-container" [totalItems]="count" [itemsPerPage]="productPerPage" [currentPage]="currentPage"></app-pagination>
    </div>

  </div>


</div>
