<div class="products-flex-container">

  <div class="sortbox-flexitem">
    <app-sort-box></app-sort-box>
  </div>

  <div class="main-prodoct-sidebar-container">

    <div class="sidebar-flexitem">
      <app-category-box></app-category-box>
      <app-filter-box></app-filter-box>
    </div>

    <div class="products-flexitem">
      <app-product-box imageAddress="https://avatars.githubusercontent.com/u/31096694?v=4" title="عنوان یک" category="دسته" price="1000"></app-product-box>

      <app-product-box imageAddress="https://avatars.githubusercontent.com/u/31096694?v=4" title="عنوان یک" category="دسته" price="1000"></app-product-box>

      <app-product-box imageAddress="https://avatars.githubusercontent.com/u/31096694?v=4" title="عنوان یک" category="دسته" price="1000"></app-product-box>

      <app-product-box imageAddress="https://avatars.githubusercontent.com/u/31096694?v=4" title="عنوان یک" category="دسته" price="1000"></app-product-box>

      <app-product-box imageAddress="https://avatars.githubusercontent.com/u/31096694?v=4" title="عنوان یک" category="دسته" price="1000"></app-product-box>

    </div>

  </div>


</div>
