.menu {
  list-style: none;
  height: 65px;
  line-height: 65px;
  border-radius: 5pt;
  font-size: larger;
  display: flex;
  justify-content: right;
  flex-direction: row;
  position: relative;
}

.barIcon {
  display: none;
}

@media (max-width: 905px) {
  ul {
    position: absolute;
    width: 100%;
    padding: 0 0;
  }

  ul li {
    margin-right: 0;
    padding-right: 30px;
  }

  .menu li:not(:first-child) {
    display: none
  }

  .menu .end {
    display: none;
  }

  .barIcon {
    margin-right: auto;
    margin-left: 10px;
    display: block;
  }

  .menu.responsive .barIcon {
    position: absolute;
    top: 0;
    left: 0;
  }

  .menu.responsive {
    display: block;
  }

  .menu.responsive li {
    display: block;
    text-align: right;
    background-color: #fff;
    width: 100%;
  }
}

.menu-item {
  display: inline-flex;
  margin: 0 25px;
}

.menu-item.end {
  text-align: center;
  margin-right: auto;
  padding: 0 15px;
  border: 5px solid gold;
  border-radius: 24px;
  height: 25px;
  margin-top: 15px;

}

.menu-item--content {
  position: relative;
  top: -20px;
}

.menu-item a {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 1.2em;
  color: #0ebac5;
}

.menu-item a:hover {
  color: #0ebac5;
}

.dropdown {
  position: relative;
  min-width: 160px;
  display: inline-block;
  z-index: 3;
}

.dropdown:hover {
  background-color: gold;
  cursor: pointer;
}

.gold-bg {
  background-color: gold;
}

.dropdown-outer-content {
  position: relative;
  display: none;
}

.dropdown-outer-content:hover {
  display: block;
}

.dropdown-content {
  text-align: right;
  position: absolute;
  background-color: #BBB;
  min-width: 200px;
  margin-right: -25px;
  z-index: 1;
  border-radius: 15px;
  height: 180px;
  left: 25px;
  top: 25px;
}

.dropdown-content a {
  color: #000;
  text-decoration: none;
}

.dropdown-content p {
  padding: 0 20px;
}

.dropdown-content p:hover {
  background-color: #CCC;
}

.dropdown:hover+.dropdown-outer-content {
  display: block;
}
