<ul class="menu">
  <li class="menu-item title">فروشگاه</li>
  <li class="menu-item"> <a [routerLink]="['']">صفحه اول</a></li>
  <li class="menu-item"> <a [routerLink]="['contact-us']">تماس با ما</a></li>
  <li class="menu-item"> <a [routerLink]="['support']">پشتیبانی</a></li>
  <li class="menu-item"> <a [routerLink]="['products']">محصولات</a></li>


  <div *ngIf="isLoggedIn()" class="menu-item end dropdown" [ngClass]="{'gold-bg': onDropDown}">
    <span style="margin-left: 10px;">{{name}}</span>
    <fa-icon [icon]="faCaretDownIcon"></fa-icon>
  </div>
  <div class="dropdown-outer-content" (mouseover)="onDropDown = true" (mouseout)="onDropDown = false">
    <div class="dropdown-content">
      <a [routerLink]="['profile']">
        <p>پروفایل</p>
      </a>
      <a [routerLink]="['logout']">
        <p>خروج از حساب</p>
      </a>
    </div>
  </div>

  <li *ngIf="!isLoggedIn()" class="menu-item end"> <a [routerLink]="['login']">ورود / ثبت نام</a></li>
</ul>
