<ul class="menu" [ngClass]="{'responsive': responsive}">
  <li class="menu-item title">فروشگاه</li>
  <li class="menu-item"> <a [routerLink]="['']">صفحه اول</a></li>
  <li class="menu-item"> <a [routerLink]="['contact-us']">تماس با ما</a></li>
  <li class="menu-item"> <a [routerLink]="['support']">پشتیبانی</a></li>
  <li class="menu-item"> <a [routerLink]="['products']">محصولات</a></li>
  <li *ngIf="responsive && !isLoggedIn()" class="menu-item"><a [routerLink]="['login']">ورود / ثبت نام</a></li>
  <li *ngIf="responsive && isLoggedIn()" class="menu-item"><a [routerLink]="['profile']">پروفایل</a></li>
  <li *ngIf="responsive && isLoggedIn()" class="menu-item"><a (click)="logout()">خروج از حساب</a></li>

  <a class="barIcon" (click)="responsive = !responsive">
    <fa-icon [icon]="faBarsIcon"></fa-icon>
  </a>
  <div *ngIf="isLoggedIn()" class="menu-item end dropdown" [ngClass]="{'gold-bg': onDropDown}">
    <div class="menu-item--content">
      <span>{{getFirstName()}}</span>
      <fa-icon [icon]="faCaretDownIcon"></fa-icon>
    </div>
  </div>
  <div class="dropdown-outer-content" (mouseover)="onDropDown = true" (mouseout)="onDropDown = false">
    <div class="dropdown-content">
      <a [routerLink]="['profile']">
        <p>پروفایل</p>
      </a>
      <a (click)="logout()">
        <p>خروج از حساب</p>
      </a>
    </div>
  </div>

  <li *ngIf="!isLoggedIn()" class="menu-item end"> <a class="menu-item--content" [routerLink]="['login']">ورود / ثبت نام</a></li>
</ul>
