<div class="admin-container">
  <div class="admin-container--title">
    <h1>ادمین عزیز، خوش آمدید</h1>
  </div>
  <div class="admin-container--tab">
    <app-tab endText="لیست کالا ها" startText="رسید ها" midText="لیست دسته"></app-tab>
  </div>
  <div class="admin-container--content">
    <div *ngIf="currentAdminStatus == 'لیست کالا ها'">
      <app-btn classes="btn-blue" text="+ ایجاد محصول" routerLink="add_product" ></app-btn>
      <div class="admin-container--content--products">
        <app-product-box *ngFor="let prod of products" imageAddress="{{prod.imgAddress}}" title="{{prod.name}}"
                       category="{{prod.category}}" btnText="ویرایش محصول" price="{{prod.price}}" showSoldNumber="1">

        </app-product-box>
      </div>
    </div>

    <div *ngIf="currentAdminStatus == 'لیست دسته'">
      <app-table [headers]="categoryHeaders" [items]="categories" operation="True"></app-table>
    </div>
    <div *ngIf="currentAdminStatus == 'رسید ها'">
      <div class="admin-container--content--search">
        <form [formGroup]="trackingCodeForm" (ngSubmit)="onSearch()">
          <app-site-input label="جستجوی کد پیگیری" placeholder="کد پیگیری را برای جستجو وارد کنید..."
                          stretchLabel="1" [control]="trackingCodeForm.get('trackingCode')"></app-site-input>
        </form>
      </div>
      <app-table [headers]="receiptHeaders" [items]="receipts"></app-table>
    </div>

  </div>
</div>
