.admin-container--title {
  grid-area: title-row;
  text-align: center;
}

.admin-container--tab {
  grid-area: tab-row;
  text-align: center;
  margin-bottom: 15px;
}

.admin-container--content {
  grid-area: content-row;
  text-align: center;
  margin-bottom: 15px;
}

.admin-container--content--products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 0px;
}

@media (max-width: 800px) {
  .admin-container--content--products {
    display: block;
  }

}
/*.admin-container--content--products * {*/
/*  border: 1px solid black;*/
/*}*/

.admin-container {
  display: grid;
  grid-template-areas:
    "title-row "
    "tab-row"
    "content-row";
}

.admin-container--content--search {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}




