<div class="table-container">
  <div class="table-container--white-box">
    <table *ngIf="items.length > 0">
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{header.name}}</th>
          <th *ngIf="operation">عملیات</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of items">
          <td *ngFor="let header of headers">{{item[header.key]}}</td>
          <td *ngIf="operation">
            <span class="px-8 operation" (click)="editClick(item)">{{editText}}</span>
            <span class="px-8 operation" (click)="deleteClick(item.id)">{{deleteText}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="items.length == 0">هیچ آیتمی موجود نمی باشد.</p>
  </div>
</div>
